.grid5{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 2px;
    color: black;
}
.header{
    background: rgb(167, 221, 243);
    grid-column: 1/5;
    grid-row: 1;
}
.box1{
  background: #cfb8f3;
  grid-column: 1;
  grid-row: 2;
}
.box2{
  background: #bcf3b1;
  grid-column: 2;
  grid-row: 2;
}
.box3{
  background: #e9adf5;
  grid-column: 3;
  grid-row: 2;
}
.nav{
    background: rgb(199, 139, 149);
    grid-column: 4;
    grid-row: 2/5;
}
.main{
    background: rgb(243, 243, 160);
    grid-column: 1/4;
    grid-row: 3/5;
}
.footer{
    background: lightgreen;
    grid-column: 1/5;
    grid-row: 5;
}

body{
    text-align: center;
    background: rgb(232, 194, 241);
    color: beige;
}